.about-container {
  height: 100vh;
  background-color: var(--mainWhiteColor);
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
  color: var(--mainFontColor);

  h1 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 7rem;
    text-align: center;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      left: -2rem;
      top: 10%;
      width: 5px;
      height: 80%;
      background-color: var(--orangeColor);
    }
  }

  p {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
