.orange-button {
  background-color: var(--orangeColor);
  border-radius: 9px;
  color: var(--mainWhiteColor);
  border-style: none;
}

.blue-button {
  background-color: var(--mainBlueColor);
  border-radius: 9px;
  color: var(--mainFontColor);
  border-style: none;
}
