.orange-button {
  background-color: var(--orangeColor);
  border-radius: 9px;
  color: var(--mainWhiteColor);
}

.blue-button {
  background-color: var(--mainBlueColor);
  border-radius: 9px;
  color: var(--mainFontColor);
}
