.button{
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 9px;
  border-style: none;
}
.orange-button {
  background-color: var(--orangeColor);
  color: var(--mainWhiteColor);
}

.blue-button {
  background-color: var(--mainBlueColor);
  color: var(--mainFontColor);
}
