.features-container {
  height: 100vh;
  background-color: var(--secondWhiteColor);
  display: flex;
  gap: 5rem;
  position: relative;
  color: var(--mainFontColor);

  h2 {
    font-size: 7rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -2rem;
      top: 10%;
      width: 5px;
      height: 80%;
      background-color: var(--mainBlueColor);
    }
  }
  .features-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 3rem;

    .feature {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 3rem;

      .icon {
        color: var(--orangeColor);
        font-size: 4rem;
      }
    }
  }
}
