* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Serif Display', serif;
}
#root {
	--orangeColor: #ff5722;
	--mainBlueColor: #00adb5;
	--mainFontColor: #303841;
	--mainWhiteColor: #f6f3f2;
	--secondWhiteColor: rgb(247, 244, 243, 87%);
	--greenColor: #159300;
	--BlueColor: #015fc7;
}

.App-container {
  height: 100vh;
}

button {
  cursor: pointer !important;
}
